//color
$background-color: #F3F5F6;
$block-background-color: #1E0F0A;
$dark-text-color: #1D3957;
$dark-text-color-2: #27496D;
$light-text-color: #35658D;
$light-text-color-2: #4986B0;
$coffee-color: #7F5539;
$gray-dark: #6c6c6c;
$primary-main: #008e96;
$text-main: #00292b;

$gray-1:rgb(207, 207, 207);
$gray-2:rgb(156, 156, 156);